@import url("https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap");
@import "tailwindcss";

html * {
  -webkit-font-smoothing: antialiased;
}

html,
body {
  background-color: #222831; /* Prevent the white background from appearing when scrolling excessively */
}

@theme {
  --color-mainbg: #222831;
  --color-secondarybg: #f7fafc;
  --color-highlight: #3a65a8;
  --color-primary: #e1e3e2;
  --color-secondary: #374151;
  --color-body: #f4f4f4;
  --color-background-grid-section: #63726c;
  --color-background-grid-box: #7a593c;
  --font-primary: "Lexend Zetta";
}

*::-webkit-scrollbar {
  display: none !important;
}
