@import "tailwindcss";

html * {
  -webkit-font-smoothing: antialiased;
}

html,
body {
  background-color: #222831; /* Prevent the white background from appearing when scrolling excessively */
}

@theme {
  --color-mainbg: #222831;
  --color-background-secondary: #f7fafc;
  --color-background-tertiary: #53728d;
  --color-background-grid-section: #63726c;
  --color-background-grid-box: #7a593c;
  --color-text-primary: #e1e3e2;
  --color-text-secondary: #374151;
  --color-navigation-icon: #7a593c;
}
